@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora&family=Merriweather&family=Nunito+Sans:opsz@6..12&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jersey+10&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}

a:-webkit-any-link  {
    cursor: pointer;
}

body {
    background-color: #fffdff;
}

.header {
    font-family: 'DM Serif Display', serif;
    position: relative;
    height: 6vh;
    width: 100%;
    text-align: center;
    letter-spacing: 0.75rem;
    word-spacing: 1.8rem;
}

.header::before {
    background-image: url('rosepetal.jpg');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size:contain;
    content: '';
    opacity: 0.6;
    z-index: -1;
}

.header-text {
    z-index: 1;
    position: relative;
}
.container {
    height: 94vh;
    max-width: 1380px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

.navbar {
    background-color: rgb(253, 240, 250);
    border-radius: 8px;
    width: 100%;
    position: relative;
    z-index: 1000;
    margin-top: 6px;
    backface-visibility: hidden;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
    padding: 12px;
    font-family: 'inter', serif;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.nav-items {
    text-decoration: none;
    color: black;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 42px;
}
.right-container img {
    width: 520px;
    height: 520px;
}

.left-container {
    font-size: 1.25rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    letter-spacing: 0.45px;
    word-spacing: 1.2px;
}

.highlight-text {
    color: #373636;
    background-color: rgb(255, 209, 244);
  border-radius: 12px;
  padding: 2px;
}

.explore-btn {
    font-size: 1.25rem;
    border-radius: 16px;
    padding: 8px;
    margin: 12px;
    background-color: rgb(255, 209, 244);
    border: 0.75px dotted black ;
    align-items: center;
    margin-left: 0px;
}
/* Services Section */

.services-section {
    height: 335vh;
}

.services-headline {
    letter-spacing: 12.6px;
    text-align: center;
    font-size: 3.75rem;
    margin: 60px;
    font-family: 'DM Serif Display', serif;
}


.block-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 100vw;
    justify-content: center;
    padding: 42px;
    border: 4.5px solid rgb(255, 209, 244);
    border-radius: 16px;
    /* justify-content: space-evenly; */
}

.blocks {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 60px;
    height: 65vh;
    margin: 22px;
    font-size: 1.45rem;
    text-align:center;
    /* padding: 12px; */
}

.blocks img {
    width: 380px;
    height: 380px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 15px;
    /* padding: px; */
    border-radius: 8px;
    box-shadow: 15px 15px 15px  rgb(255, 209, 244);
}

.block2 img, .block4 img {
    box-shadow: -15px 15px 15px  rgb(255, 209, 244);
}

.left-container {
    /* border: 1px solid black; */
    width: 50vw;

}
.right-block {
    /* border: 1px solid black; */
    width: 50vw;
    padding: 52px;
    border-bottom: 6px solid rgb(255, 209, 244);
}

.line-breaker {
    height: 6px;
    max-width: 85%;
    margin-inline: auto;
    background-color: rgb(255, 209, 244);
    border: none;
    margin-bottom: 100px;
}

.block-headline {
    font-family: 'Roboto', serif;
}

.block-text {
    font-family: 'Poppins', sans-serif;
    margin-top: 14px;
}

.price-container {
    padding: 12px;
    margin: 12px;
    font-family: 'Anton', serif;
    letter-spacing: 1px;
    font-weight: 200;
    border: 3.5px solid rgb(255, 209, 244);
    border-radius: 8px;
    width: 60%;
    margin-inline: auto;
}

.cut-price {
    text-decoration: line-through;
    font-size: 1.2rem;
    font-weight: 100;
}

.block2, .block4 {
    flex-direction: row-reverse;
}

/* Testimonials -->  */

.testimonials-section {
    height: 100vh;
    border: 6px solid rgb(255, 209, 244);
    border-radius: 12px;
}

.cards-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35px;
}

.text-block {
    height: 60%;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}
.cards {
    padding: 22px;
    margin: 8px;
    height: 150%;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0px 0px 22px rgb(255, 209, 244);
}

.profile-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
    padding: 12px;
    align-items: center;
}

.person-img {
    width: 30%;

}

.person-name {
    font-size: 1.5rem;
    font-family: 'Roboto', serif;
    align-items: start;
}
.profile-block img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.icon {
    width: 30px;
    height: 30px;

}
